<% if post.errors.any? %>
  <%= post.errors.count %>件のエラーが発生しました
  <ul>
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: post, local:true do |f| %>
  <div class="mb-2">ポスター写真<br>
    <%= f.file_field :post_image, accept: "image/*" %>
  </div>
  <div id="new-image">
    <% if post.id && post.post_image.attached? %>
      <%= image_tag Post.find(post.id).get_post_image(210,297), id: "new-img-preview" %>
    <% end %>
  </div>
  <div class="mb-2">展覧会名<br>
    <%= f.text_field :name, placeholder: "〇〇展" %>
  </div>
  <div class="mb-2">会期<br>
    <%= f.text_field :day, placeholder: "〇月〇日〜〇月×日" %>
  </div>
  <div class="mb-2">休館日<br>
    <%= f.text_field :close_day, placeholder: "月曜日" %>
  </div>
  <div class="mb-2">開館時間<br>
    <%= f.text_field :hour, placeholder: "10時〜17時" %>
  </div>
  <div class="mb-2">会場<br>
    <%= f.text_field :place, placeholder: "〇〇博物館" %>
  </div>
  <div class="mb-2">会場住所<br>
    <%= f.text_field :address, size: "30x5", placeholder: "東京都港区六本木〇ー〇ー〇" %>
  </div>
  <div class="mb-2">説明<br>
    <%= f.text_area :body, size: "30x5", placeholder: "750文字以内" %>
  </div>
  <div class="mb-2">公式サイトURL<br>
    <%= f.text_field :url, size: "30x5" %>
  </div>
  <div class="mb-2">ジャンル選択（複数選択可）</div>
  <div class="mb-2"><%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %></div>
  <div class="mb-2">カテゴリー選択（複数選択可）</div>
  <div class="mb-2"><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %></div>
  <div class="d-flex justify-content-end mb-4">
    <%= f.submit '保存', class: "btn btn-outline-success btn-lg" %>
  </div>
<% end %>

