<div class="container">
  <div class="row">
    <h2 class="pl-3 pt-3" style="color: #3a5b52;">展覧会情報</h2>
    <h5 class="pb-3 text-secondary">（投稿一覧）</h5>
    
    <!-- ジャンル・カテゴリー検索 -->
    <div class="col-md-3 mb-3">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ジャンル絞り込み検索
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <% @genres.each do |genre| %>
		  	      <li><%= link_to genre.name, posts_path(genre_id: genre.id), class: 'text-dark' %></li>
	  	      <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              カテゴリー絞り込み検索
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <% @categories.each do |category| %>
	  	        <li><%= link_to category.name, posts_path(category_id: category.id), class: 'text-dark' %></li>
	  	      <% end %>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 投稿一覧 -->
    <div class="col-md-8 offset-md-1 mx-auto">
      	<div class="d-flex justify-content-end mb-5">
	  	  <%= render 'layouts/search' %>
	  	</div>
      <% if params[:genre_id] %>
		  	<h5 class="m-2 text-secondary">ジャンル＜<%= @genre.name %>＞</h5>
		  <% elsif params[:category_id] %>
	    	<h5 class="m-2 text-secondary">カテゴリー＜<%= @category.name %>＞</h5>
	  	<% end %>
		
		  <div class="d-flex justify-content-end m-3">
		    <%= link_to '新着順', posts_path(latest: "true") %>　｜　
        <%= link_to '古い順', posts_path(old: "true") %>　｜　
        <%= link_to 'お気に入り順', posts_path(liked: "true") %>
      </div>  
      <% @posts.each do |post| %>
          <div class="card mb-3" style="max-width: 800px; background-color: #fffaf0;">
            <div class="row g-0">
              <div class="col-lg-4">
                <% if admin_signed_in? %>
                  <%= link_to admin_post_path(post.id) do %>
                    <%= image_tag post.get_post_image(210,297) %>
                  <% end %>
                <% else %>
                  <%= link_to post_path(post.id) do %>
                    <%= image_tag post.get_post_image(210,297) %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <h5 class="card-title">
                  <!-- 展覧会名 -->
                  <% if admin_signed_in? %>
                    <%= link_to post.name, admin_post_path(post.id), class: "text-dark" %>
                  <% else %>
                    <%= link_to post.name, post_path(post.id), class: "text-dark" %>
                  <% end %>
                  </h5>
                  <p class="card-text">
                    <div class="d-flex">
                      <div class="m-2 text-secondary">会期</div>
                      <div class="m-2"><%= post.day %></div>
                    </div>
                    <div class="d-flex">
                      <div class="m-2 text-secondary">会場</div>
                      <div class="m-2"><%= post.place %></div>
                    </div>
                    <div class="m-2">
                      <div class="text-secondary">ジャンル</div>
                      <div class="m-2">
                        <% post.genres.each do |genre| %>
                          <%= genre.name %>
                        <% end %>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="m-2 text-secondary">カテゴリー</div>
                      <div class="m-2">
                        <% post.categories.each do |category| %>
                          <%= category.name %>
                        <% end %>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="m-2 text-secondary">投稿者</div>
                      <div class="m-2">
                        <% if admin_signed_in? %>
                          <%= link_to post.user.name, admin_user_path(post.user.id), class: "text-dark" %>
                        <% else %>
                          <%= link_to post.user.name, "/#{post.user.name}", class: "text-dark" %>
                        <% end %>
                      </div>
                      <div class="m-2 text-dark">
                        <% if post.user.is_general %>
                          （一般）
                        <% else %>
                          （開催者）
                        <% end %>
                      </div>
                    </div>
                  </p>
                  <div class="d-flex justify-content-end">
                  <% if admin_signed_in? %>
                    <%= link_to "詳細を見る", admin_post_path(post.id), class: "btn btn-outline-info" %>
                  <% else %>
                    <%= link_to "詳細を見る", post_path(post.id), class: "btn btn-outline-info"  %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
    
  </div>
</div>
