<% if user_signed_in? %>
<h5>新規投稿</h5>
<%= link_to "新規投稿", new_post_path %>
<% end %>

<h1>投稿一覧</h1>
<% @posts.each do |post| %>
<% if post.user.is_active %>
<% if post.user %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_post_image(200,200) %>
    <% end %>
    <h5>展覧会名</h5>
    <%= link_to post_path(post.id) do %>
      <%= post.name %>
    <% end %>
    <h5>開催日時</h5>
    <%= post.daytime %>
    <h5>会場</h5>
    <%= post.place %>
    <h5>会場住所</h5>
    <%= post.address %>
    <h5>説明</h5>
    <%= post.body %>
    <h5>ジャンル</h5>
    <% post.genres.each do |genre| %>
      <%= genre.name %>
    <% end %>
    <h5>カテゴリー</h5>
     <% post.categories.each do |category| %>
      <%= category.name %>
    <% end %>
    <h5>投稿者</h5>
    <%= link_to "/#{post.user.name}" do %>
      <%= post.user.name %>
    <% end %>
    <% if post.user.is_general %>
      <p>一般</p>
    <% else %>
      <p>開催者</p>
    <% end %>
  </div>
  <% end %>
  <% end %>
<% end %>
