
<h5>新規投稿</h5>
<%= link_to "新規投稿", new_post_path %>


<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.post_image, size:'200x150' %>
    <% end %>
    <h5>展覧会名</h5>
    <%= post.name %>
    <h5>開催日時</h5>
    <%= post.daytime %>
    <h5>会場</h5>
    <%= post.place %>
    <h5>会場住所</h5>
    <%= post.address %>
    <h5>説明</h5>
    <%= post.body %>
    <h5>ジャンル</h5>
    <% post.genres.each do |genre| %>
      <%= genre.name %>
    <% end %>
    <h5>カテゴリー</h5>
     <% post.categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </div>

<% end %>  
