<div class="container">
  <div class="row">
    <h2 class="pl-3 pt-3" style="color: #3a5b52;">ジャンル編集</h2>
    <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto">
      
      <% if @genre.errors.any? %>
        <%= @genre.errors.count %>件のエラーが発生しました
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), local:true do |f| %>
        <div class="d-flex">
          <div class="m-2"><%= f.text_field :name %></div>
          <div class="m-2"><%= f.submit '変更を保存', class: "btn btn-outline-success btn-lg" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
