<div class="container">
  <div class="row">
    <h2 class="pl-3 pt-3" style="color: #3a5b52;">レビュー編集</h2>
    <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto">
      <% if @review.errors.any? %>
        <%= @review.errors.count %>件のエラーが発生しました
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: [@post, @review], url: post_review_path(@review.post, @review), local: true do |f| %>
        <div class="form-group mb-2" id="star">
          <%= f.label :rate, '評価' %>
          <%= f.hidden_field :rate, id: :review_rate, class: 'form-label' %>
          <div id="post_raty_<%= @review.id %>"></div>
        </div>
        <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#post_raty_<%= @review.id %>');
            if (elem == null) return;
  
            elem.innerHTML = ""
            let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: <%= @review.rate %>,
              scoreName: 'review[rate]',
            };
            raty(elem, opt);
          });
        </script>
        <div class="mb-2">訪問日<br>
          <%= f.select :day, Review.days.keys.map { |k| [I18n.t("enums.review.day.#{k}"), k] } %>
        </div>
        <div class="mb-2">時間帯<br>
          <%= f.select :time, Review.times.keys.map { |k| [I18n.t("enums.review.time.#{k}"), k] } %>
        </div>  
        <div class="mb-2">混雑状況<br>
          <%= f.select :congestion, Review.congestions.keys.map { |k| [I18n.t("enums.review.congestion.#{k}"), k] } %>
        </div>  
        <div class="mb-2">タイトル<br>
          <%= f.text_field :title, size: "30x5", placeholder: "1文字以上50文字以内" %>
        </div>  
        <div class="mb-2">コメント<br>
          <%= f.text_area :body, size: "30x5", placeholder: "10文字以上500文字以内" %>
        </div>  
        <div class="d-flex justify-content-end mb-4">
          <%= f.submit "保存", class: "btn btn-outline-success btn-lg" %>
        </div>
        <div class="d-flex justify-content-end mb-4">
          <%= link_to "削除", post_review_path(@review.post, @review), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
        </div>  
        <div class="d-flex justify-content-end mb-4">
          <%= link_to "展覧会詳細へ戻る", post_path(@post.id), class: "btn btn-outline-secondary" %>
        </div>
      <% end %>  
       
    </div>
  </div>
</div>  
