<!-- ユーザーの詳細 -->
<div class="p-3"></div>
<%= image_tag user.get_profile_image(100,100) %>
<div class="d-flex">
  <div class="m-2"><%= user.name %></div>
  <div class="m-2">
    <% if user.is_general %>
      (一般)
    <% else %>  
      (開催者)
    <% end %>  
  </div>
</div>
<div class="m-2">
  <div class="text-secondary">自己紹介</div>
  <div class="mt-2"><%= user.introduction %></div>
</div>

<% if admin_signed_in? %>
  <div class="m-2">
    <div class="text-secondary">メールアドレス</div>
    <div class="mt-2"><%= user.email %></div>
  </div>
  <div class="m-2">    
    <div class="text-secondary">アカウント状況</div>
    <% if user.is_active %>
      <p class="text-success">有効</p>
    <% else %>  
      <p class="text-muted">停止中</p>
    <% end %> 
  </div>
  <%= link_to "編集", edit_admin_user_path(user.id), class: "btn btn-outline-primary" %>
<% end %>  

