<!-- ユーザーの投稿一覧 -->

<h2 class="pl-3 pt-3" style="color: #3a5b52;"><%= user.name %>さんの投稿一覧</h2>
<% posts.each do |post| %>
<div class="card mb-3" style="max-width: 800px; background-color: #fffaf0;">
  <div class="row g-0">
    <div class="col-lg-4">
      <% if admin_signed_in? %>
        <%= link_to admin_post_path(post.id) do %>
          <%= image_tag post.get_post_image(210,297) %>
        <% end %>
      <% else %>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_post_image(210,297) %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title">
        <!-- 展覧会名 -->
          <% if admin_signed_in? %>
            <%= link_to post.name, admin_post_path(post.id), class: "text-dark" %>
          <% else %>
            <%= link_to post.name, post_path(post.id), class: "text-dark" %>
          <% end %>
        </h5>
        <p class="card-text">
          <div class="d-flex">
            <div class="m-2 text-secondary">会期</div>
            <div class="m-2"><%= post.day %></div>
          </div>
          <div class="d-flex">
            <div class="m-2 text-secondary">会場</div>
            <div class="m-2"><%= post.place %></div>
          </div>
          <div class="d-flex">
            <div class="m-2 text-secondary">ジャンル</div>
            <div class="m-2">
              <% post.genres.each do |genre| %>
                <%= genre.name %>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <div class="m-2 text-secondary">カテゴリー</div>
            <div class="m-2">
              <% post.categories.each do |category| %>
                <%= category.name %>
              <% end %>
            </div>
          </div>
        </p>
        <div class="d-flex justify-content-end">
          <% if admin_signed_in? %>
            <%= link_to "詳細を見る", admin_post_path(post.id), class: "btn btn-outline-info" %>
          <% else %>
            <%= link_to "詳細を見る", post_path(post.id), class: "btn btn-outline-info"  %>
          <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>  
<% end %>

<%= paginate posts, theme: 'bootstrap-5' %>
