<div class="container">
  <div class="row">
    <% if @user.is_active %>
  
      <!-- ユーザー詳細 -->
      <div class="col-md-3">
        <%= render 'info', user: @user %>
        <% if @user == current_user %>
          <%= link_to "プロフィール編集", "/#{current_user.name}/edit", class: "btn btn-outline-primary" %>
        <% end %>
        <div class="d-flex mt-3">
        <%= link_to "お気に入り一覧", likes_user_path(@user), class: "btn btn-outline-info" %>
        </div>
      </div>  

      <div class="col-md-8 offset-md-1 mx-auto">
        <!-- タブ -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <button class="nav-link active text-dark" data-bs-toggle="tab" data-bs-target="#tab1" type="button">投稿(展覧会)</button>
          </li>
          <li class="nav-item">
            <button class="nav-link text-dark" data-bs-toggle="tab" data-bs-target="#tab2" type="button">レビュー</button>
          </li>
        </ul>
        <!-- ユーザーの投稿一覧-->
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <%= render 'userpost', {user: @user, posts: @posts} %>
          </div>

          <!-- ユーザーのレビュー一覧 -->
          <div id="tab2" class="tab-pane">
            <%= render 'userreview', {user: @user, reviews: @reviews} %>
          </div>
        </div>
        
      </div> 
      <% else %>
      <div class="d-flex justify-content-center m-3">このユーザーはアカウント停止中のため、閲覧できません。</div>
    <% end %>
  </div>
</div>  
