<!DOCTYPE html>
<html>
  <head>
    <title>Momiji</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <nav>
      <%= link_to "もみじ", root_path %>
      
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      
      <% elsif admin_signed_in? %>
        <%= link_to "ジャンル一覧", admin_genres_path %>
        <%= link_to "カテゴリー一覧", admin_categories_path %>
        <%= link_to "ログアウト",  destroy_admin_session_path, method: :delete %>
        
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      
      <% end %>  
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
